<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    Hello 11ty
  </footer>
</body>
</html>

