<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
    </nav>
    <p>Name: {{ site.name }}</p>
    <p>Post: {{ posts.post }}</p>
  </header>

  <main>
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
    {{ content | safe }}
  </main>

  <footer>
    Hello 11ty
  </footer>
</body>
</html>

